* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  background-color: lightgray; }

header {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: "Fjalla One", sans-serif;
  background-image: url("../img/hero2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; }
  header .header-container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    background: rgba(0, 0, 0, 0.3); }
  header .hero-text {
    align-self: center;
    font-family: "Fjalla One", sans-serif;
    color: white;
    margin-bottom: 200px;
    text-shadow: 1px 1px 2px black; }

.projects {
  height: 1000px;
  width: 100%;
  background-color: #666;
  border: 2px solid lime;
  display: flex;
  justify-content: center;
  align-items: center; }
  .projects .projects-container {
    height: 950px;
    width: 95%;
    border: 2px solid yellow; }
    .projects .projects-container::after {
      clear: both;
      content: "";
      display: block; }
    .projects .projects-container .project-1 {
      height: 474px;
      width: calc(50%);
      float: left;
      margin-left: 0px;
      border: 2px solid black; }
    .projects .projects-container .project-2 {
      height: 474px;
      width: calc(50%);
      float: left;
      margin-left: 0px;
      border: 2px solid black; }
    .projects .projects-container .project-3 {
      height: 474px;
      width: calc(50%);
      float: left;
      margin-left: 0px;
      border: 2px solid black; }
    .projects .projects-container .project-4 {
      height: 474px;
      width: calc(50%);
      float: left;
      margin-left: 0px;
      border: 2px solid black; }

.about-me {
  height: 700px;
  width: 100%;
  background-color: #lightgray;
  border: 2px solid lime;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about-me .about-me-container {
    height: 600px;
    width: 95%;
    border: 2px solid yellow; }

footer {
  height: 100px;
  width: 100%;
  border: 2px solid red;
  background-color: #666; }

.brand {
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1; }
  .brand h1 {
    color: white;
    letter-spacing: 2px;
    margin-right: 150px;
    text-shadow: 1px 1px 2px black;
    font-size: 36px; }

.nav-bar {
  order: 3;
  height: 100%;
  width: 400px; }
  .nav-bar ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav-bar ul li {
      padding: 36.5px 36.5px;
      list-style: none;
      display: inline-block;
      transition: background 700ms, border-left 700ms, border-right 700ms;
      cursor: pointer; }
      .nav-bar ul li:hover {
        border-left: 2px solid #666;
        border-right: 2px solid #666;
        background: rgba(0, 0, 0, 0.6); }
      .nav-bar ul li a {
        color: white;
        text-shadow: 1px 1px 2px black;
        text-decoration: none;
        font-size: 20px; }

/*# sourceMappingURL=styles.css.map */
