* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  background-color: lightgray; }

header {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: "Fjalla One", sans-serif;
  background-image: url("../img/hero4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  header .header-container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    background: rgba(0, 0, 0, 0.3); }
  header .hero-text {
    align-self: center;
    font-family: "Fjalla One", sans-serif;
    color: white;
    margin-bottom: 200px;
    text-shadow: 1px 1px 2px black; }

.projects {
  height: 1200px;
  width: 100%;
  background-color: #97A0A9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Droid Sans", sans-serif;
  overflow: hidden; }
  .projects .projects-container {
    height: 1000px;
    width: 95%; }
    .projects .projects-container::after {
      clear: both;
      content: "";
      display: block; }
    .projects .projects-container .project-header {
      width: calc(100%);
      float: left;
      margin-left: 0px;
      text-align: center; }
      .projects .projects-container .project-header h1 {
        font-size: 48px;
        color: white;
        text-shadow: 1px 1px 2px black; }
    .projects .projects-container .project-1 {
      height: 475px;
      width: calc(50%);
      float: left;
      margin-left: 0px; }
    .projects .projects-container .project-2 {
      height: 475px;
      width: calc(50%);
      float: left;
      margin-left: 0px; }
    .projects .projects-container .project-3 {
      height: 475px;
      width: calc(50%);
      float: left;
      margin-left: 0px; }
    .projects .projects-container .project-4 {
      height: 475px;
      width: calc(50%);
      float: left;
      margin-left: 0px; }
    @media screen and (max-width: 875px) {
      .projects .projects-container .projects-container {
        align-items: flex-start; }
      .projects .projects-container .project-1, .projects .projects-container .project-2, .projects .projects-container .project-3, .projects .projects-container .project-4 {
        width: calc(100%);
        float: left;
        margin-left: 0px;
        height: 250px; } }

.about-me {
  height: 700px;
  width: 100%;
  background-color: #7D9587;
  border: 2px solid lime;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about-me .about-me-container {
    height: 600px;
    width: 95%;
    border: 2px solid yellow; }

footer {
  height: 100px;
  width: 100%;
  border: 2px solid red;
  background-color: #666; }

.brand {
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1; }
  .brand h1 {
    color: white;
    letter-spacing: 2px;
    margin-right: 150px;
    text-shadow: 1px 1px 2px black;
    font-size: 36px; }

.nav-bar {
  order: 2;
  height: 100%;
  width: 400px; }
  .nav-bar ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav-bar ul li {
      padding: 36.5px 36.5px;
      list-style: none;
      display: inline-block;
      transition: background 700ms, border-left 700ms, border-right 700ms;
      cursor: pointer; }
      .nav-bar ul li:hover {
        border-left: 2px solid #666;
        border-right: 2px solid #666;
        background: rgba(0, 0, 0, 0.6); }
      .nav-bar ul li a {
        color: white;
        text-shadow: 1px 1px 2px black;
        text-decoration: none;
        font-size: 20px; }

.burger {
  display: none;
  order: 3; }

@media screen and (max-width: 875px) {
  .nav-bar {
    display: none; }

  .burger {
    display: inline-block;
    margin-top: 32.5px;
    margin-right: 35px; } }
.burger {
  width: 50px;
  height: 35px;
  position: relative; }

span {
  display: block;
  background-color: white;
  height: 5px;
  width: 50px;
  box-shadow: 1px 1px 2px black;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all .75s;
  transition-delay: .5s; }

span:nth-child(1) {
  top: 0;
  transform-origin: 0 2.5px; }

span:nth-child(2) {
  top: 15px; }

span:nth-child(3) {
  transform-origin: 0 2.5px;
  top: 30px; }

.toggle-top {
  animation: spin-right 1s forwards; }

.toggle-top-reverse {
  animation: spin-right-reverse 1s forwards; }

.middle {
  opacity: 0; }

.toggle-bottom {
  transform-origin: left center;
  animation: spin-left 1s forwards; }

.toggle-bottom-reverse {
  transform-origin: left center;
  animation: spin-left-reverse 1s forwards; }

@keyframes spin-right {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-35deg); }
  100% {
    transform: rotate(405deg);
    top: -2.5px;
    left: 7.5px; } }
@keyframes spin-left {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(35deg); }
  100% {
    transform: rotate(-405deg);
    top: 32.5px;
    left: 7.5px; } }
@keyframes spin-right-reverse {
  0% {
    transform: rotate(405deg);
    top: -2.5px;
    left: 7.5px; }
  20% {
    transform: rotate(440deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes spin-left-reverse {
  0% {
    transform: rotate(-405deg);
    top: 32.5px;
    left: 7.5px; }
  20% {
    transform: rotate(-440deg); }
  100% {
    transform: rotate(0deg); } }
.sliding-panel-content {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background-color: #1B1815;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: 999999; }
  .sliding-panel-content.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.sliding-panel-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999; }
  .sliding-panel-fade-screen.is-visible {
    opacity: 0.4;
    visibility: visible; }

.sliding-panel-close {
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 4px black;
  text-decoration: none;
  font-size: 58px; }

nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  nav ul li {
    list-style: none;
    margin-top: 60px; }
    nav ul li:hover {
      text-decoration: underline; }
nav a {
  color: white;
  text-shadow: 2px 2px 4px black;
  text-decoration: none;
  font-size: 36px; }

.project-1, .project-2, .project-3, .project-4 {
  display: flex;
  justify-content: center;
  align-items: center; }
  .project-1 .card, .project-2 .card, .project-3 .card, .project-4 .card {
    height: 400px;
    flex-basis: 40em;
    border: 2px solid #1B1815;
    border-radius: 5px;
    padding: 10px;
    background-color: #DBE2E7;
    box-shadow: 6px 6px 8px #666; }
    .project-1 .card .card-image, .project-2 .card .card-image, .project-3 .card .card-image, .project-4 .card .card-image {
      height: 250px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover; }
    .project-1 .card .card-header, .project-2 .card .card-header, .project-3 .card .card-header, .project-4 .card .card-header {
      display: flex;
      justify-content: center;
      margin-top: 20px; }
      .project-1 .card .card-header a, .project-2 .card .card-header a, .project-3 .card .card-header a, .project-4 .card .card-header a {
        text-decoration: none;
        color: white;
        text-shadow: 1px 1px 2px black; }
        .project-1 .card .card-header a:hover, .project-2 .card .card-header a:hover, .project-3 .card .card-header a:hover, .project-4 .card .card-header a:hover {
          padding-bottom: 3px;
          border-bottom: 2px solid white; }
    .project-1 .card .card-info, .project-2 .card .card-info, .project-3 .card .card-info, .project-4 .card .card-info {
      margin-top: 20px;
      text-align: left;
      color: white;
      text-shadow: 1px 1px 1px black; }
  @media screen and (max-width: 875px) {
    .project-1 .card, .project-2 .card, .project-3 .card, .project-4 .card {
      height: 200px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      position: relative; }
      .project-1 .card .card-image, .project-2 .card .card-image, .project-3 .card .card-image, .project-4 .card .card-image {
        height: 150px;
        width: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: filter 300ms linear; }
        .project-1 .card .card-image:hover, .project-2 .card .card-image:hover, .project-3 .card .card-image:hover, .project-4 .card .card-image:hover {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
          cursor: pointer; }
      .project-1 .card .card-header, .project-2 .card .card-header, .project-3 .card .card-header, .project-4 .card .card-header {
        display: flex;
        justify-content: center;
        margin-top: 0;
        position: absolute; }
        .project-1 .card .card-header a, .project-2 .card .card-header a, .project-3 .card .card-header a, .project-4 .card .card-header a {
          text-decoration: none;
          color: white;
          text-shadow: 1px 1px 2px black; }
          .project-1 .card .card-header a:hover, .project-2 .card .card-header a:hover, .project-3 .card .card-header a:hover, .project-4 .card .card-header a:hover {
            padding-bottom: 3px;
            border-bottom: 2px solid white;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
      .project-1 .card .card-info, .project-2 .card .card-info, .project-3 .card .card-info, .project-4 .card .card-info {
        margin-top: 10px;
        color: white;
        text-shadow: 1px 1px 1px black; } }

.project-1 .card-image {
  background-image: url("../img/project1.png"); }
.project-1 .card-header {
  top: 35%;
  left: 37%; }

.project-2 .card-image {
  background-image: url("../img/project2.png"); }
.project-2 .card-header {
  top: 35%;
  left: 37%; }

.project-3 .card-image {
  background-image: url("../img/project3.png"); }
.project-3 .card-header {
  top: 40%;
  left: 40%; }

.project-4 .card-image {
  background-image: url("../img/project4.png"); }
.project-4 .card-header {
  top: 35%;
  left: 37%; }

/*# sourceMappingURL=styles.css.map */
