.brand {
  @include size(400px 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  h1{
    color: white;
    letter-spacing: 2px;
    margin-right: 150px;
    text-shadow: 1px 1px 2px black;
    font-size: 36px;
  }
}
.nav-bar {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  @include size(400px 100%);
  ul {
    @include size(100%);
    /* border: 2px solid lime;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    li{
      padding: 36.5px 36.5px;
      list-style: none;
      display: inline-block;
      -webkit-transition: background $nav-button-transition, border-left $nav-button-transition, border-right $nav-button-transition;
      transition: background $nav-button-transition, border-left $nav-button-transition, border-right $nav-button-transition;
      cursor: pointer;
      &:hover {
        border-left:2px solid #666;
        border-right:2px solid #666;
        background: rgba(0, 0, 0, .6);
      }
      a {
        color: white;
        text-shadow: 1px 1px 2px black;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }
}

.burger {
  display: none;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
@include large-tablet-breakpoint {
  .nav-bar {
    display: none;
  }
  .burger {
    display: inline-block;
    margin-top: 32.5px;
    margin-right: 35px;
  }
}
