

.projects {
  @include size(100% 1000px);
  background-color: #666;
  border: 2px solid lime;
  display: flex;
  justify-content: center;
  align-items: center;

  .projects-container {
    @include size(95% 950px);
    border: 2px solid yellow;
    @include grid-container;

    .project-1 {
      height: $grid-box-height;
      @include grid-column(6);
      border: 2px solid black;
      // margin-top: 20px;
    }
    .project-2 {
      height: $grid-box-height;
      @include grid-column(6);
      border: 2px solid black;
    }
    .project-3 {
      height: $grid-box-height;
      @include grid-column(6);
      border: 2px solid black;
    }
    .project-4 {
      height: $grid-box-height;
      @include grid-column(6);
      border: 2px solid black;
    }
  }
}

.about-me {
  @include size(100% 700px);
  background-color: #lightgray;
  border: 2px solid lime;
  display: flex;
  justify-content: center;
  align-items: center;

  .about-me-container {
    @include size(95% 600px);
    border: 2px solid yellow;
  }
}
