// BOX STYLES
$box-border-radius: 5px;



// NAV TRANSITIONS
$nav-button-transition: 700ms;


// PROJECT GRID
$grid-box-height: 475px;
$large-tablet-box-height: 250px;



// BREAKPOINTS
$phone-breakpoint: 'screen and (max-width: 575px)';
$tablet-breakpoint: 'screen and (max-width: 768px)';
$large-tablet-breakpoint: 'screen and (max-width: 875px)';
$desktop-breakpoint: 'screen and (max-width: 1200px)';
$large-desktop-breakpoint: 'screen and (max-width: 1400px)';


// COLORS
$ragoon-green: #1B1815;
$card-background-color: #DBE2E7;
